[Desktop Entry]
Version=1.0
Name=Giortes
Type=Application
Icon=giortes64.png
Exec=giortes
Terminal=false
StartupNotify=false
GenericName=Giortes
Comment=Πρόγραμμα εορτολόγιου
Categories=Office;
